@import '../../responsive.scss';


.profilePage {
    display: flex;
    height: calc(100vh - 100px);

    @include md{
        flex-direction: column;
        overflow: auto;
        gap: 50px;
    }
    
    .details {
        flex: 3;
        height: 100%;
        overflow: auto;

        @include md{
            flex: none;
            height: max-content;
        }


        .wrapper{
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;

            .title{
                display: flex;
                align-items: center;
                justify-content: space-between;

                h1{
                    font-weight: 300;
                }

                button{
                    padding: 12px 24px;
                    background: #fece51;
                    cursor: pointer;
                    border: none;
                }
            }

            .info{
               display: flex; 
               flex-direction: column;
               gap: 20px;

               span{
                display: flex;
                align-items: center;
                gap: 20px;
               }

                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }

            }
        }
    }
    
    .chatContainer {
        flex: 2;
        background: #fcf5f3;
        height: 100%;
        overflow: auto;

        @include md{
            flex: none;
            height: max-content;
        }


        .wrapper{
            padding: 0 20px;
            height: 100%;
        }
    }

}