.listPage {
    display: flex;
    height: calc(100vh - 100px);

    .listContainer {
        flex: 3;
        // overflow-y: auto;

        .wrapper {
            height: 100%;
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            overflow: auto;
            padding-bottom: 50px;
        }

    }

    .mapContainer {
        flex: 2;
        height: 100%;
        background: #fcf5f3;
    }



}