.slider {

    width: 100%;
    height: 350px;
    display: flex;
    gap: 20px;


    .swiper {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: black;
        z-index: 101;


        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .close {
                position: absolute;
                font-size: 40px;
                color: white;
                top: 20px;
                right: 20px;
                cursor: pointer;
            }



        }

        img {
            width: 90%;
            height: 90%;
            object-fit: contain;
            border-radius: 10px;
            cursor: pointer;
        }


    }


    .bigImage {
        flex: 3;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            cursor: pointer;
        }

    }

    .smallImages {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;

        img {
            height: 100px;
        }

    }


}